In [5]:
from mplsoccer import Sbopen

# instantiate a parser object
parser = Sbopen()

In [6]:
df_competition = parser.competition()
df_competition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             70 non-null     int64
 1   season_id                  70 non-null     int64
 2   country_name               70 non-null     object
 3   competition_name           70 non-null     object
 4   competition_gender         70 non-null     object
 5   competition_youth          70 non-null     bool
 6   competition_international  70 non-null     bool
 7   season_name                70 non-null     object
 8   match_updated              70 non-null     object
 9   match_updated_360          54 non-null     object
 10  match_available_360        8 non-null      object
 11  match_available            70 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 5.7+ KB

In [7]:
df_euro = df_competition[df_competition['competition_name'] == 'UEFA Euro']
df_euro

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
65,55,43,Europe,UEFA Euro,male,False,True,2020,2023-02-24T21:26:47.128979,2023-04-27T22:38:34.970148,2023-04-27T22:38:34.970148,2023-02-24T21:26:47.128979

In [8]:
df_match = parser.match(competition_id=55, season_id=43)
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         51 non-null     int64
 1   match_date                       51 non-null     datetime64[ns]
 2   kick_off                         51 non-null     datetime64[ns]
 3   home_score                       51 non-null     int64
 4   away_score                       51 non-null     int64
 5   match_status                     51 non-null     object
 6   match_status_360                 51 non-null     object
 7   last_updated                     51 non-null     datetime64[ns]
 8   last_updated_360                 51 non-null     datetime64[ns]
 9   match_week                       51 non-null     int64
 10  competition_id                   51 non-null     int64
 11  country_name                     51 non-null     object
 12  competition_name                 51 non-null     object
 13  season_id                        51 non-null     int64
 14  season_name                      51 non-null     object
 15  home_team_id                     51 non-null     int64
 16  home_team_name                   51 non-null     object
 17  home_team_gender                 51 non-null     object
 18  home_team_group                  36 non-null     object
 19  home_team_country_id             51 non-null     int64
 20  home_team_country_name           51 non-null     object
 21  home_team_managers_id            50 non-null     float64
 22  home_team_managers_name          50 non-null     object
 23  home_team_managers_nickname      50 non-null     object
 24  home_team_managers_dob           50 non-null     datetime64[ns]
 25  home_team_managers_country_id    50 non-null     float64
 26  home_team_managers_country_name  50 non-null     object
 27  away_team_id                     51 non-null     int64
 28  away_team_name                   51 non-null     object
 29  away_team_gender                 51 non-null     object
 30  away_team_group                  36 non-null     object
 31  away_team_country_id             51 non-null     int64
 32  away_team_country_name           51 non-null     object
 33  away_team_managers_id            50 non-null     float64
 34  away_team_managers_name          50 non-null     object
 35  away_team_managers_nickname      50 non-null     object
 36  away_team_managers_dob           50 non-null     datetime64[ns]
 37  away_team_managers_country_id    50 non-null     float64
 38  away_team_managers_country_name  50 non-null     object
 39  metadata_data_version            51 non-null     object
 40  metadata_shot_fidelity_version   51 non-null     object
 41  metadata_xy_fidelity_version     51 non-null     object
 42  competition_stage_id             51 non-null     int64
 43  competition_stage_name           51 non-null     object
 44  stadium_id                       51 non-null     int64
 45  stadium_name                     51 non-null     object
 46  stadium_country_id               51 non-null     int64
 47  stadium_country_name             51 non-null     object
 48  referee_id                       51 non-null     int64
 49  referee_name                     51 non-null     object
 50  referee_country_id               51 non-null     int64
 51  referee_country_name             51 non-null     object
dtypes: datetime64[ns](6), float64(4), int64(15), object(27)
memory usage: 20.8+ KB

In [12]:
df_match_ukraine = df_match[(df_match['home_team_name'] == 'Ukraine') | (df_match['away_team_name'] == 'Ukraine')]

In [13]:
df_match_ukraine_1 = df_match_ukraine[['match_id', 'match_date', 'kick_off', 'home_score', 'away_score', 'home_team_name', 'away_team_name']]

In [14]:
df_match_ukraine_1

,match_id,match_date,kick_off,home_score,away_score,home_team_name,away_team_name
14,3795187,2021-07-03,2021-07-03 21:00:00,0,4,Ukraine,England
18,3794692,2021-06-29,2021-06-29 21:00:00,1,2,Sweden,Ukraine
26,3788767,2021-06-21,2021-06-21 18:00:00,0,1,Ukraine,Austria
31,3788758,2021-06-17,2021-06-17 15:00:00,2,1,Ukraine,North Macedonia
37,3788746,2021-06-13,2021-06-13 21:00:00,3,2,Netherlands,Ukraine

match_id = '3788746'

In [16]:
df_lineup = parser.lineup(3788746)
df_lineup

,player_id,player_name,player_nickname,jersey_number,match_id,team_id,team_name,country_id,country_name
0,2988,Memphis Depay,Memphis Depay,10,3788746,941,Netherlands,160,Netherlands
1,3306,Nathan Aké,Nathan Aké,4,3788746,941,Netherlands,160,Netherlands
2,3311,Daley Blind,Daley Blind,17,3788746,941,Netherlands,160,Netherlands
3,3321,Patrick van Aanholt,Patrick van Aanholt,12,3788746,941,Netherlands,160,Netherlands
4,3567,Georginio Wijnaldum,Georginio Wijnaldum,8,3788746,941,Netherlands,160,Netherlands
5,4318,Davy Klaassen,Davy Klaassen,14,3788746,941,Netherlands,160,Netherlands
6,6994,Marten de Roon,Marten de Roon,15,3788746,941,Netherlands,160,Netherlands
7,7745,Steven Berghuis,Steven Berghuis,7,3788746,941,Netherlands,160,Netherlands
8,7787,Stefan de Vrij,Stefan de Vrij,6,3788746,941,Netherlands,160,Netherlands
9,7829,Wout Weghorst,Wout Weghorst,19,3788746,941,Netherlands,160,Netherlands
10,7832,Marco Bizot,Marco Bizot,23,3788746,941,Netherlands,160,Netherlands
11,7890,Owen Wijndal,Owen Wijndal,5,3788746,941,Netherlands,160,Netherlands
12,7891,Teun Koopmeiners,Teun Koopmeiners,24,3788746,941,Netherlands,160,Netherlands
13,8067,Joël Veltman,Joël Veltman,2,3788746,941,Netherlands,160,Netherlands
14,8118,Frenkie de Jong,Frenkie de Jong,21,3788746,941,Netherlands,160,Netherlands
15,8125,Denzel Dumfries,Denzel Dumfries,22,3788746,941,Netherlands,160,Netherlands
16,9467,Timothy Michael Krul,Timothy Michael Krul,13,3788746,941,Netherlands,160,Netherlands
17,15582,Donyell Malen,Donyell Malen,18,3788746,941,Netherlands,160,Netherlands
18,20033,Luuk de Jong,Luuk de Jong,9,3788746,941,Netherlands,160,Netherlands
19,20201,Maarten Stekelenburg,Maarten Stekelenburg,1,3788746,941,Netherlands,160,Netherlands
20,20750,Cody Mathès Gakpo,Cody Gakpo,26,3788746,941,Netherlands,160,Netherlands
21,21809,Jurriën David Norman Timber,Jurriën Timber,25,3788746,941,Netherlands,160,Netherlands
22,23230,Ryan Gravenberch,Ryan Gravenberch,16,3788746,941,Netherlands,160,Netherlands
23,3575,Oleksandr Zinchenko,Oleksandr Zinchenko,17,3788746,911,Ukraine,238,Ukraine
24,4872,Eduard Sobol,Eduard Sobol,2,3788746,911,Ukraine,238,Ukraine
25,8830,Andriy Yarmolenko,Andriy Yarmolenko,7,3788746,911,Ukraine,238,Ukraine
26,10997,Andriy Pyatov,Andriy Pyatov,12,3788746,911,Ukraine,238,Ukraine
27,11000,Taras Stepanenko,Taras Stepanenko,6,3788746,911,Ukraine,238,Ukraine
28,16311,Evgeny Makarenko,Evgeny Makarenko,14,3788746,911,Ukraine,238,Ukraine
29,16514,Serhii Sydorchuk,Sergiy Sydorchuk,5,3788746,911,Ukraine,238,Ukraine
30,16557,Ruslan Malinovskiy,Ruslan Malinovskiy,8,3788746,911,Ukraine,238,Ukraine
31,16811,Marlos Romero Bonfim,Marlos,11,3788746,911,Ukraine,238,Ukraine
32,18617,Mykola Matviyenko,Mykola Matvienko,22,3788746,911,Ukraine,238,Ukraine
33,18618,Serhiy Kryvtsov,Sergiy Kryvtsov,4,3788746,911,Ukraine,238,Ukraine
34,18881,Artem Besedin,Artem Besedin,19,3788746,911,Ukraine,238,Ukraine
35,20827,Vitalii Mykolenko,Vitalii Mykolenko,16,3788746,911,Ukraine,238,Ukraine
36,21294,Mykola Shaparenko,Mykola Shaparenko,10,3788746,911,Ukraine,238,Ukraine
37,22243,Heorhii Bushchan,Heorhii Bushchan,1,3788746,911,Ukraine,238,Ukraine
38,23649,Roman Yaremchuk,Roman Yaremchuk,9,3788746,911,Ukraine,238,Ukraine
39,25079,Artem Dovbyk,Artem Dovbyk,26,3788746,911,Ukraine,238,Ukraine
40,31892,Oleksandr Zubkov,Oleksandr Zubkov,20,3788746,911,Ukraine,238,Ukraine
41,31900,Oleksandr Karavaev,Oleksandr Karavaev,21,3788746,911,Ukraine,238,Ukraine
42,32753,Denys Popov,Denys Popov,25,3788746,911,Ukraine,238,Ukraine
43,37330,Anatolii Trubin,Anatoliy Trubin,23,3788746,911,Ukraine,238,Ukraine
44,39136,Illia Zabarnyi,Ilya Zabarnyi,13,3788746,911,Ukraine,238,Ukraine
45,45863,Oleksandr Tymchyk,Oleksandr Tymchyk,24,3788746,911,Ukraine,238,Ukraine

In [17]:
df_event, df_related, df_freeze, df_tactics = parser.event(3788746)

df_event

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,substitution_replacement_name,pass_no_touch,ball_recovery_recovery_failure,dribble_overrun,foul_won_defensive,foul_committed_advantage,foul_won_advantage,pass_goal_assist,foul_committed_card_id,foul_committed_card_name
0,fd5222b6-73cf-4c0e-929b-c89e7fe20037,1,1,00:00:00,0,0,1,0.000000,3788746,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,2,1,00:00:00,0,0,1,0.000000,3788746,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,c81ff888-b3e9-4789-b134-bff90a9818b3,3,1,00:00:00,0,0,1,0.000000,3788746,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e03eb18e-efef-4e99-aea8-8a6132ef1fa1,4,1,00:00:00,0,0,1,0.000000,3788746,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,e7e64ca3-3420-4be1-aaea-b48f217d41cb,5,1,00:00:00.227000,0,0,2,0.851014,3788746,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3964,2fac1528-3224-45ff-9df2-9c3d75b38b1c,3965,2,00:50:02.596000,95,2,161,1.087782,3788746,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3965,0d1c2bbc-4014-40f6-a8f9-d4b74c86686e,3966,2,00:50:03.684000,95,3,161,0.600140,3788746,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3966,d1679bbe-bbce-4b34-bfe4-a64c628a781c,3967,2,00:50:04.284000,95,4,161,NaN,3788746,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3967,cd6013fb-17e0-45db-b011-9d35cec838b0,3968,2,00:50:04.681000,95,4,161,0.000000,3788746,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3968,1527cd6f-aa24-4646-93de-21d59ecce5fb,3969,2,00:50:04.681000,95,4,161,0.000000,3788746,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_related

,match_id,id,index,type_name,id_related,index_related,type_name_related
0,3788746,c81ff888-b3e9-4789-b134-bff90a9818b3,3,Half Start,e03eb18e-efef-4e99-aea8-8a6132ef1fa1,4,Half Start
1,3788746,e03eb18e-efef-4e99-aea8-8a6132ef1fa1,4,Half Start,c81ff888-b3e9-4789-b134-bff90a9818b3,3,Half Start
2,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,5,Pass,5213890e-74e8-4450-b01e-401cc6be2555,6,Ball Receipt
3,3788746,5213890e-74e8-4450-b01e-401cc6be2555,6,Ball Receipt,e7e64ca3-3420-4be1-aaea-b48f217d41cb,5,Pass
4,3788746,100e155d-8f15-426b-be42-3584162c600b,7,Carry,5213890e-74e8-4450-b01e-401cc6be2555,6,Ball Receipt
...,...,...,...,...,...,...,...
5835,3788746,488ab411-1baa-409f-8c6b-8b63b4589ff7,3956,Pass,773e76b2-d829-4f1e-9f72-a0c89241159c,3954,Carry
5842,3788746,96699ea7-ca4a-48be-bffc-804ac4358ad8,3960,Pass,2b4b5cf4-b74c-4098-9165-a45dea185311,3958,Carry
5843,3788746,f5739417-0f59-45c7-9c47-54aa883cb940,3957,Ball Receipt,2b4b5cf4-b74c-4098-9165-a45dea185311,3958,Carry
5856,3788746,0d1c2bbc-4014-40f6-a8f9-d4b74c86686e,3966,Pass,2fac1528-3224-45ff-9df2-9c3d75b38b1c,3965,Carry
5857,3788746,9be7a204-c08c-488f-ad31-9c6c0b0c1554,3964,Ball Receipt,2fac1528-3224-45ff-9df2-9c3d75b38b1c,3965,Carry

In [19]:
df_freeze

,teammate,match_id,id,x,y,player_id,player_name,position_id,position_name,event_freeze_id
0,True,3788746,b3a7b21d-b9ff-458d-9405-c0595d24e18a,86.4,42.8,7829,Wout Weghorst,22,Right Center Forward,1
1,True,3788746,b3a7b21d-b9ff-458d-9405-c0595d24e18a,87.9,27.7,8118,Frenkie de Jong,11,Left Defensive Midfield,2
2,False,3788746,b3a7b21d-b9ff-458d-9405-c0595d24e18a,104.8,37.2,18617,Mykola Matviyenko,5,Left Center Back,3
3,False,3788746,b3a7b21d-b9ff-458d-9405-c0595d24e18a,96.8,48.3,20827,Vitalii Mykolenko,6,Left Back,4
4,False,3788746,b3a7b21d-b9ff-458d-9405-c0595d24e18a,102.8,35.3,39136,Illia Zabarnyi,3,Right Center Back,5
...,...,...,...,...,...,...,...,...,...,...
297,True,3788746,58013bf7-0a88-4a08-a1ad-ad90dd1ea68d,108.3,38.9,3567,Georginio Wijnaldum,19,Center Attacking Midfield,12
298,True,3788746,58013bf7-0a88-4a08-a1ad-ad90dd1ea68d,110.3,39.1,7829,Wout Weghorst,22,Right Center Forward,13
299,True,3788746,58013bf7-0a88-4a08-a1ad-ad90dd1ea68d,109.8,32.2,2988,Memphis Depay,24,Left Center Forward,14
300,True,3788746,58013bf7-0a88-4a08-a1ad-ad90dd1ea68d,105.2,13.9,7890,Owen Wijndal,8,Left Wing Back,15
301,True,3788746,58013bf7-0a88-4a08-a1ad-ad90dd1ea68d,94.1,13.2,3306,Nathan Aké,5,Left Center Back,16

In [20]:
df_tactics

,jersey_number,match_id,id,player_id,player_name,position_id,position_name,event_tactics_id
0,1,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,20201,Maarten Stekelenburg,1,Goalkeeper,1
1,25,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,21809,Jurriën David Norman Timber,3,Right Center Back,2
2,6,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,7787,Stefan de Vrij,4,Center Back,3
3,17,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,3311,Daley Blind,5,Left Center Back,4
4,22,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,8125,Denzel Dumfries,7,Right Wing Back,5
5,12,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,3321,Patrick van Aanholt,8,Left Wing Back,6
6,15,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,6994,Marten de Roon,9,Right Defensive Midfield,7
7,21,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,8118,Frenkie de Jong,11,Left Defensive Midfield,8
8,8,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,3567,Georginio Wijnaldum,19,Center Attacking Midfield,9
9,19,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,7829,Wout Weghorst,22,Right Center Forward,10
10,10,3788746,fd5222b6-73cf-4c0e-929b-c89e7fe20037,2988,Memphis Depay,24,Left Center Forward,11
11,1,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,22243,Heorhii Bushchan,1,Goalkeeper,1
12,21,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,31900,Oleksandr Karavaev,2,Right Back,2
13,13,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,39136,Illia Zabarnyi,3,Right Center Back,3
14,22,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,18617,Mykola Matviyenko,5,Left Center Back,4
15,16,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,20827,Vitalii Mykolenko,6,Left Back,5
16,5,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,16514,Serhii Sydorchuk,10,Center Defensive Midfield,6
17,8,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,16557,Ruslan Malinovskiy,13,Right Center Midfield,7
18,17,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,3575,Oleksandr Zinchenko,15,Left Center Midfield,8
19,7,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,8830,Andriy Yarmolenko,17,Right Wing,9
20,20,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,31892,Oleksandr Zubkov,21,Left Wing,10
21,9,3788746,0300dec5-561e-48d1-af6f-1f74bd5e9f4c,23649,Roman Yaremchuk,23,Center Forward,11

In [22]:
#360 data

df_frame, df_visible = parser.frame(3788746)

# exploring the data
df_frame.info()
df_visible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56207 entries, 0 to 56206
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   teammate  56207 non-null  bool
 1   actor     56207 non-null  bool
 2   keeper    56207 non-null  bool
 3   match_id  56207 non-null  int64
 4   id        56207 non-null  object
 5   x         56207 non-null  float64
 6   y         56207 non-null  float64
dtypes: bool(3), float64(2), int64(1), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_id      3600 non-null   int64
 1   id            3600 non-null   object
 2   visible_area  3600 non-null   object
dtypes: int64(1), object(2)
memory usage: 84.5+ KB

In [23]:
df_frame

,teammate,actor,keeper,match_id,id,x,y
0,True,False,False,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,34.575042,25.445880
1,True,False,False,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,34.956589,54.470657
2,True,False,False,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,35.820915,35.728672
3,True,False,False,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,46.736118,55.954753
4,True,False,False,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,50.966004,38.356528
...,...,...,...,...,...,...,...
56202,True,False,False,3788746,d1679bbe-bbce-4b34-bfe4-a64c628a781c,57.553923,40.042224
56203,False,False,False,3788746,d1679bbe-bbce-4b34-bfe4-a64c628a781c,59.840210,32.085976
56204,False,False,False,3788746,d1679bbe-bbce-4b34-bfe4-a64c628a781c,61.679916,55.169407
56205,True,False,False,3788746,d1679bbe-bbce-4b34-bfe4-a64c628a781c,64.770665,74.141314
56206,False,False,False,3788746,d1679bbe-bbce-4b34-bfe4-a64c628a781c,64.772582,39.941152

In [24]:
df_visible

,match_id,id,visible_area
0,3788746,e7e64ca3-3420-4be1-aaea-b48f217d41cb,"[120.0, 20.8977381982129, 83.502489488547, 80...."
1,3788746,5213890e-74e8-4450-b01e-401cc6be2555,"[120.0, 25.2233927145128, 85.9163146408415, 80..."
2,3788746,100e155d-8f15-426b-be42-3584162c600b,"[120.0, 25.2233927145128, 85.9163146408415, 80..."
3,3788746,a1d677eb-bca8-4e07-8ae2-889de691777e,"[41.8744505286258, 72.0382695492449, 11.054292..."
4,3788746,3e613a91-02b1-4458-921d-c2ca607c9d25,"[43.7697999931897, 61.8304466089634, 19.287608..."
...,...,...,...
3595,3788746,96699ea7-ca4a-48be-bffc-804ac4358ad8,"[41.781304876346, 80.0, 53.5397104148827, 9.55..."
3596,3788746,a16e2d18-b4e7-46c5-a39f-45341e37a073,"[45.2517652275692, 73.5904728231797, 16.249772..."
3597,3788746,005d279d-2d0b-4267-94f7-4f70ead799e6,"[20.9247224876278, 80.0, 46.8641875201253, 3.5..."
3598,3788746,5aa2b411-4f78-4d99-ab11-8345242e8435,"[20.5265036334368, 80.0, 46.3641875201253, 3.8..."
3599,3788746,d1679bbe-bbce-4b34-bfe4-a64c628a781c,"[0.0, 80.0, 0.0, 77.9469406861043, 38.03016932..."